header{
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p{
    max-width: 40%;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
    padding-top: 1%;
}

ul{
    list-style-type:none;
    display: flex;
    min-width: 25%;
    
}

.header-menu li a{
    text-decoration:none;
    color: black;
}

body{
    background-color: whitesmoke;
}

#cv img{
    max-width: 45%;
    max-height: 45%;
    margin-left: 27%;
}


#parcours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage{
    border: 1px solid black;
    margin-top: 2%;
    max-width: 50%;
    display: flex;
}

.stage img{
    min-height: 100%;
    width: 100%;
}

.img-stage{
    min-width: 25%;
}

#stages{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articles{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

#profil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article{
    display: flex;
    border: 1px solid black;
    height: 5%;
    max-height: 5%;
    margin: 1%;
}

.photo{
    width: 50%;
    max-height: 5%;
}

.photo img{
    max-height: 100%;
    max-width: 100%;
}

.art-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
}
.art-text a{
    text-decoration: none;
    color: black;
}

.list p{
    border: none;
    padding-bottom: 0px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}